<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg-red-50">
<div class="w-full bg-red-50" th:fragment="categories">
    <section class="w-full  bg-red-50 py-8 antialiased dark:bg-red-900 md:py-16">
        <div style="" class="mx-auto max-w-screen px-4 2xl:px-0">

            <div style="gap: 5px;" class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                <a href="/products/marketplace?category=All"  class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">ALL</span>
                </a>
                <a href="/products/marketplace?category=Acer" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Acer</span>
                </a>
                <a href="/products/marketplace?category=HP" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">HP</span>
                </a>
                <a href="/products/marketplace?category=Asus" class="flex items-center bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Asus</span>
                </a>
                <a href="/products/marketplace?category=Dell" class="flex items-center bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Dell</span>
                </a>
                <a href="/products/marketplace?category=Lenovo" class="flex items-center bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Lenovo</span>
                </a>
                <a href="/products/marketplace?category=LG" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">LG</span>
                </a>
                <a href="/products/marketplace?category=Casper" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Casper</span>
                </a>
                <a href="/products/marketplace?category=Fujitsu" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Fujitsu</span>
                </a>
                <a href="/products/marketplace?category=Nexus" class="flex items-center bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Nexus</span>
                </a>
                <a href="/products/marketplace?category=Samsung" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Samsung</span>
                </a>
                <a href="/products/marketplace?category=Toshiba" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Toshiba</span>
                </a>
                <a href="/products/marketplace?category=Sony" class="flex items-center  bg-red-50 hover:bg-white px-4 py-2  dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <svg class="me-2 h-4 w-4 shrink-0 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="none" viewBox="2 2 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"></path>
                    </svg>
                    <span style="font-size: 18px;" class="text-sm font-medium text-gray-900 dark:text-white">Sony</span>
                </a>

            </div>
        </div>

</div>
</body>
</html>






</section>